html,
body {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

body {
  padding: 15px;
  background-color: #f2f3f5;
}

.layui-card {
  padding-bottom: 15px;
}
.layui-form {
  margin: 10px 0;
  width: 500px;
}
